.box-unidad-1{
	width: 450px;
  height: 350px;
  background-color: #666;
  position: relative;
}
.box-unidad-2{
	width: 450px;
  height: 100px;
  background-color: #666;
  border: 20px solid#fff;
  position: relative;
  top: -250px;
  left: 100px;
}
.box-unidad-3{
    width: 100px;
  height: 350px;
  background-color: #666;
  position: relative;
  top: -370px;
  left: 470px;
  }
.box-unidad-4{
    width: 450px;
  height: 100px;
  background-color: #666;
  position: relative;
  top: -470px;
  left: 120px;
  }